$color_white: #FFFFFF;
$color_pink: #FD3549;
$color_pink_hover: #fd5263;
$color_black: #000000;

@font-face {
    font-family: "pageFont";
    src: url("/fonts/helveticaneue-medium.woff2") format("woff2");
  }

body,html {
    margin: 0;
    height: 100%;
    font-family: "pageFont";
    background-color: $color_black;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

body {
    background-color: $color_black !important;
    font-family: "pageFont", sans-serif;
}

.pink {
    color: $color_pink;
}

.wrap {

    @media screen and (max-width: 800px)  {
        background-size: auto 60%;
        background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(130,91,0,1) 100%);
    }

}


#landpage {
    height: 100%;
    padding-top: 20px;
    background: url("../assets/landing.png") no-repeat top center;
    padding-bottom: 2rem;

    

    @media screen and (max-width: 1280px)  {
        width: 100%;
    }

    @media screen and (max-width: 560px)  {
        width: 100%;
        background: url("../assets/mobilelanding.png") no-repeat top center;
        background-size: 100% auto;
    }


    .logo {
        position: absolute;
        top: 3%;
        left: 3%;

        img {
            max-width: 80%;
            max-height: 80%;
        }

        @media screen and (max-width: 800px)  {
            img {
                max-width: 60%;
            }
        }
    }


    .subscribe {
        padding-top: 100px;
        height: 100%;

        .gray {
            color: #A8A8A8;
            font-size: 30px;
            max-width: 30%;
            margin-top: -30px;
            text-align: center;

            @media screen and (max-width: 1750px)  {
                max-width: 5%;
            }

            @media screen and (max-width: 1550px)  {
                max-width: 40%;
            }


            @media screen and (max-width: 1300px)  {
                max-width:none;
                width: 100% !important;
                text-align: center;
            }
        }

        .newsletter-sub {
            margin-bottom: -60px;
            padding-top: 20px;
            color: $color_white;
        }
        
        ._form_3 {
            margin: 0;
            margin-top: 15px;
            margin-bottom: -25px;
            position: relative;
            top: -20px;
            left: 0px;
        }
        
        
        ._form-thank-you {
            color: $color_white;
            margin-top: 30px;
            margin-bottom: 10px;
            border: solid $color_white 3px;
            border-radius: 16px;
            padding: 6px;
        }
        
        ._field-wrapper input {
            width: 26rem !important;
            height: 3.1rem !important;
            margin-left: -45px;
            border-radius: 26px;
        
            @media screen and (max-width: 672px)  {
                width: 100% !important;
                display: flex;
                margin-left: 0;
                margin-right: 0;
            }
        }
        
        ._submit {
            width: 7rem !important;
            height: 3.2rem;
            border-radius: 0px 20px 20px 0px !important;
            position: absolute;
            top: -28px;
            right: 0;
        
            
            &:hover {
                background-color: $color_pink_hover !important;
            }
        
            @media screen and (max-width: 672px)  {
                width: 7rem !important;
                position: absolute;
                top: -70px;
                right: 0px;
            }
        }
        
        label {
            display: none;
        }
        
        .privacy {
            position: relative;
            margin-top: -50px;
            margin-left: -35px;
            font-size: 15px;
            text-align: center;
        
            input {
                z-index: 1;
        
                @media screen and (max-width: 1000px)  {
                    width: 20px;
                    height: 20px;
                    position: relative;
                    top: -3px;
                }
            }
        
            p {
                font-size: 15px;
                color: #FFFFFF;
                margin-top: 34px;
                padding-top: 32px;
                padding-bottom: 0px;
                margin-left: 30px;
        
                @media screen and (max-width: 1000px)  {
                    margin: 0;
                    margin-top: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
        
        
        
            a {
                color: $color_white;
                text-decoration: underline;
        
                &:hover {
                    color: $color_pink;
                }
            }
        
            @media screen and (max-width: 1300px)  {
                position: unset;
                margin-bottom: 20px;
                text-align: center;
            }
            @media screen and (max-width: 600px)  {
                margin-top: -50px;
                text-align: center;
                margin-left: 0px;
            }
        }
        
        
        ._form-branding {
            display: none;
        }

        .p-width {
            width: 70%;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 24px;

            @media screen and (max-width: 1300px)  {
                width: 100%; 
                margin-top: -6px;
            }

            @media screen and (max-width: 600px)  {
                font-size: 18px;
            }
        }

        img {
            max-width: 30%;

            @media screen and (max-width: 1750px)  {
                max-width: 35%;
            }

            @media screen and (max-width: 1550px)  {
                max-width: 40%;
            }


            @media screen and (max-width: 672px)  {
                max-width: 58%;
            }
        }

        @media screen and (max-width: 1300px)  {
            margin-left: auto;  
            text-align: center;
            width: auto; 
        }

        .logo-chef {
            text-align: left;   
        }

        div {
            text-align: left !important;

            @media screen and (max-width: 1300px)  {  
                text-align: center !important;
            }
            @media screen and (max-width: 672px)  {
                text-align: center !important;
            }
        }

        

        h2 {
            width: 549px;
            color: $color_white;
            font-size: 30px;
            margin-top: 15px;


            @media screen and (max-width: 1300px)  {
                width: 100%; 
                margin-top: 30px;
            }

            @media screen and (max-width: 600px)  {
                font-size: 20px;
            }
        }

        h4 {
            color: $color_white;
            margin-top: 30px;
            font-size: 30px;
        }

        p {
            color: $color_white;
            font-size: 18px;
            margin-top: 15px;

            @media screen and (max-width: 1300px)  {
                width: 100%; 
            }

            @media screen and (max-width: 600px)  {
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: -20px;
            }
        }

        a{
            color: $color_pink;
            text-decoration: none;
        }

        a:hover{
            color: $color_pink_hover;
            text-decoration: underline;
        }

        
        .description {
            position: relative;
            width: 1029px;
            font-size: 20px;
            margin-top: 25px;
            // font-style: italic;

            @media screen and (max-width: 1610px)  {
                margin-bottom: 20%;
            }

            @media screen and (max-width: 1300px)  {
                
                width: 100%;
  
            }

            @media screen and (max-width: 560px)  {
                font-size: 15px;
                
            }

            
        }


    }
}

#video {
    height: 640px;
    background: url('../assets/secondpart.png') no-repeat center;


    @media screen and (max-width: 560px)  {
        background: url("../assets/second.png") no-repeat top center;
        background-size: 100% auto;
        height: 100%;
    }



    .youtube {
        position: absolute;
        margin-top: 20px;
        margin-left: 3%;

        @media screen and (max-width: 1710px)  {
            margin: 0;
            position: unset;
            text-align: center;
        }

        iframe {
            width: 980px;
            height: 600px;

            @media screen and (max-width: 1800px)  {
                margin-top: 50px;
                width: 900px;
                height: 500px;
            }

            @media screen and (max-width: 1710px)  {
                margin-top: 50px;
                width: 900px;
                height: 500px;
            }

            @media screen and (max-width: 1050px)  {
                margin-top: 50px;
                width: 800px;
                height: 450px;

            }

            

            @media screen and (max-width: 800px)  {
                margin-top: 20px;
                width: 90%;
                height: 460px;
                margin-left: 3%;
                margin-right: 3%;
            }

            @media screen and (max-width: 650px)  {
                margin-top: 20px;
                width: 90%;
                height: 260px;
                margin-left: 3%;
                margin-right: 3%;
            }
        }

        

        
    }

    .scopri {
        position: absolute;
        right: 6%;
        margin-top: 8rem;
        text-align: center;

        @media screen and (max-width: 1710px)  {
            margin-top: 4rem;
            position: unset;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            
        }

        img {
            max-width: 50%;
        }



        .scopri-link {

            a {
               background-color: $color_pink;
               color: $color_white;
               padding: 18px 50px 18px 50px;
               border-radius: 35px;
               text-decoration: none;
               font-weight: bold;
               font-size: 30px;
           }

           a:hover{
               background-color: $color_pink_hover;
               color: $color_white;
               text-decoration: none;
           }

       }


        

        .content {
            width: 598px;
            color: $color_white;
            margin-top: 40px;
            margin-bottom: 60px;


            @media screen and (max-width: 1710px)  {
                width: auto;
                margin: 40px 3% 60px 3%;
                
            }

        }

        
    }


}

.scroll {
    display: none;


    
    
}




@media screen and (max-width: 560px)  {
    .scroll{
        display: inline;
        margin-top: -40px;
        width: 40px;


    }

    .show {
        display: block;
        color: red !important;
        margin-top: 30px;
        margin: 5px;
    }
    
}


.error {
    display: none;
}

.show {
    display: block;
    color: red !important;
    margin: -40px 0 0 0 !important;
}

._form-label {
    display: none !important;
} 

